{{ define "main" }}
{{ partial "header.html" . }}
<article class="container-fluid">
    <div class="row">
        <div class="col-12">
            {{ partial "products/common/site-main-nav.html" . }} 
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col-12 col-md-6 order-md-2">
            {{ partial "products/single/product-single-heading.html" . }} 
            <div class="d-none d-md-block">{{ .Content }}</div>
        </div>
        <div class="col-12 col-md-6 order-md-1">
          {{ range .Params.images }}
          <div class="album-preview-container">
            <img class="album-preview img-fluid text-center" src="{{ . | absURL }}" />
          </div>
          {{ end }}
        </div>
        <div class="col-12 col-md-6 order-md-2 d-block d-md-none">
            <p>{{ .Content }}</p>
        </div>
    </div>
</article>
{{ partial "footer.html" . }}
{{ end }}
