{{ partial "header.html" . }}
<article class="container-fluid">
    <div class="row">
        <div class="col-12">
            {{ partial "products/common/site-main-nav.html" . }} 
        </div>
    </div>
    <div class="row">
        {{ range (.Paginate (.Pages.ByTitle) 24).Pages }} 
            {{ partial "products/list/product-list-item.html" . }} 
        {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
    <script>
    var productVariants = null;
    </script>
</article>
{{ partial "footer.html" . }}
