@import "predefined.scss";

html {
    background: $background;
    line-height: 1.6;
    color: $text;
}

body {
    background: $background;
    color: $text;
}

a {
    color: $text;
    text-decoration: none;
    border: none;
    transition-property: color;
    transition-duration: .4s;
    transition-timing-function: ease-out;
    
    &:hover {
        color: #fff;
        text-shadow: 0 0 1px #fff;
    }
}

hr {
  opacity: .2;
  border-width: 0 0 5px 0;
  border-style: solid;
  background: transparent;
  color: $text;
  width: 75%;
  margin-bottom: 1.8em;
}


/* mobile default */

.logo {
    height: 150px;
}

// force the image size in the list view
.album-list-preview-container {
    $s: calc(min(250px, 40vw));
    
    width: $s;
    height: $s;
    overflow: hidden;
}
// if the image isn't square, cut it off
.album-list-preview {
    $s: calc(min(250px, 40vw));

    width: $s;
    object-fit: cover;
}

.album-preview-container {
    $s: calc(min(450px, 40vw));

    max-width: $s;
    overflow: hidden;
}

.album-preview {
    object-fit: cover;
}

// fix the paginatino
.pagination {
    justify-content: center;
}

.page-link {
    color: $primary-button;
}

.navbar {
}

.nav-link {
    color: $heading !important;
    transition-property: color;
    transition-duration: .4s;
    transition-timing-function: ease-out;
    
    &:hover {
        color: #fff;
        text-shadow: 0 0 1px #fff;
        text-decoration: underline;
    }
}

#site-footer {
  text-align: center;
  font-size: .9em;
  margin-bottom: 96px;
  margin-top: 64px;

  p {
    margin: 0;
  }
}

/* large desktop */
@media (min-width: 1000px) {
    .container-fluid {
        width: 80%;
        margin: auto;
    }

}
