@import "predefined.scss";

html {
    background: $background;
    line-height: 1.6;
    color: $text;
}

body {
    background: $background;
    color: $text;
}

a {
    color: $text;
    text-decoration: none;
    border: none;
    transition-property: color;
    transition-duration: .4s;
    transition-timing-function: ease-out;
    
    &:hover {
        color: #fff;
        text-shadow: 0 0 1px #fff;
    }
}

hr {
  opacity: .2;
  border-width: 0 0 5px 0;
  border-style: solid;
  background: transparent;
  color: $text;
  /* width: 75%; */
  margin-bottom: 1.8em;
}


/* mobile default */

.logo {
    height: 150px;
}

// force the image size in the list view
.album-list-preview-container {
    $s: calc(min(250px, 40vw));
    
    width: $s;
    height: $s;
    overflow: hidden;
}
// if the image isn't square, cut it off
.album-list-preview {
    $s: calc(min(250px, 40vw));

    width: $s;
    object-fit: cover;
}

.album-preview-container {
    $s: calc(min(450px, 40vw));

    max-width: $s;
    overflow: hidden;
}

.album-preview {
    object-fit: cover;
}

// fix the paginatino
.pagination {
    justify-content: center;
}

.page-link {
    color: $primary-button;
}

.navbar {
}

.nav-link {
    color: $heading !important;
    transition-property: color;
    transition-duration: .4s;
    transition-timing-function: ease-out;
    
    &:hover {
        color: #fff;
        text-shadow: 0 0 1px #fff;
        text-decoration: underline;
    }
}

.section-title {
    text-align: center;
    color: $heading;
}

#site-footer {
  font-size: .9em;
  margin-bottom: 96px;
  margin-top: 64px;

  p {
      text-align: center;
      margin: 0;
  }
}

.align-center {
    text-align: center;
}

a[class="button-primary"] {
    background-color: $primary-button;
    color: $primary-label;
    margin-top: 10px;
    padding: 10px 18px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: middle;
}
a[class="button-primary"]:hover {
    text-decoration: none;
    background: rgba($primary-button, .8);
}

/* large desktop */
@media (min-width: 1000px) {
    .container-fluid {
        width: 80%;
        margin: auto;
    }

}

#search-container {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

#search-box {
    background-color: $background;
    color: $text;
    width: 100%;
    padding: 5px;
}

.modal-dialog {
    border: solid 2px $text;
    max-width: 99vw;
    //height: 100vh;
}

.modal-content {
    //height: 80vh;
    background-color: $background;
    color: $text;
}

#search-results-close {
    color: $text;
}
