<header id="site-header" class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4 offset-md-4 col-12 col-sm-12">
      <h1 class="text-center">
        <a class="logo-link" href="/">
          <img class="logo" src="/images/logo.png" alt="US Black Metal Distributor Index Logo" />
        </a>
      </h1>
    </div>
    <div class="col-md-4 col-12 col-sm-12">
      <div id="search-container">
        <input id="search-box" type="text" placeholder="🔍 Search" autofocus></input>
      </div>
    </div>
  </div>

</header>
